@page
@model DevCodeWeb.DevCodeModel
@using DevCodeCore.Models
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <form method="post">
        <div class="row" id="top">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="genMode">Dialog</label>
                    <select asp-for="genMode" class="form-control"
                            asp-items="Html.GetEnumSelectList<GenMode>()">
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Member Names Uppercase
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label asp-for="controlId">Control</label>
                    <select asp-for="controlId" class="form-control"
                            asp-items="Model.controls">
                    </select>
                </div>
            </div>
        </div>
        <textarea rows="15" class="form-control" asp-for="@Model.scrText" asp-page="DevCode"></textarea>
        <button formaction="DevCode" class="btn btn-outline-primary">Generate Code</button>
    </form>
    <div>
        @if (Model.snippets != null)
        {
            @foreach (var sn in Model.snippets)
            {
                <h2 style="margin-top:50px;">@sn.header</h2>
                <p>@sn.desription</p>
                <pre class="prettyprint">
            @sn.code
        </pre>
        @if (sn.showForm)
        {
            var s = sn.code.Replace("<app-", "<input type=\"text\" class=\"form-control\"><app-");
    <div class="col-md-6">
        @Html.Raw(s)
    </div>
        }
                <a href="#top">Go to the top</a>
            }
        }
    </div>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<script>
    window.onload = (function () { prettyPrint(); });
</script>